volumes:
  redis_data:
    external: false
    name: redis_data
  redis_dev_data:
    external: false
    name: redis_dev_data
  postgres_data:
    external: false
    name: postgres_data
  evolution_instancesv2:
    external: false
    name: evolution_instancesv2

networks:
  app_network:
    driver: bridge

services:
  node_app:
    image: docker.io/caioalrodrig/bots:latest
    container_name: node_app
    expose:
      - '3000'
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    depends_on:
      - redis
    restart: always
    networks:
      - app_network
    security_opt:
      - no-new-privileges:true

  # NodeJS Application Service (Development)
  node_app_dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: node_app_dev
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - PORT=3000
    volumes:
      - .:/app
      - /app/node_modules
    restart: always
    networks:
      - app_network
    depends_on:
      - redis_dev
    command: npm run dev
    profiles:
      - dev

  redis_dev:
    image: redis:latest
    container_name: redis_dev
    restart: always
    volumes:
      - redis_dev_data:/data
    ports:
      - '6380:6379'
    networks:
      - app_network
    profiles:
      - dev

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    volumes:
      - redis_data:/data
    expose:
      - '6379'
    networks:
      - app_network
    command: ['redis-server', '--requirepass', '${REDIS_PASSWORD}']
