name: CI/CD Build and Deploy

on:
  push:
    branches: [ main ]

env:
  DOCKER_USERNAME: caioalrodrig
  IMAGE_NAME: bots
  IMAGE_TAG: latest

jobs:
  build:
    name: Build and Push Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .  
          file: ./Dockerfile
          push: true
          tags: docker.io/${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

  # deploy:
  #  name: Deploy to VPS
  #  runs-on: ubuntu-latest
  #  needs: build

  #  steps:
  #    - name: Deploy via SSH
  #      uses: appleboy/ssh-action@v1.2.1
  #      with:
  #        host: ${{ secrets.VPS_HOST }}
  #        username: ${{ secrets.VPS_USER }}
  #        key: ${{ secrets.VPS_SSH_KEY }}
  #        script: |
  #          cd /home/${{ secrets.VPS_USER }}/bots
